<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Apache2 installed by Centostrano (deprec 2 port to CentOS)</title>
	<link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">

</head>
<body id="" onload="">
	<div id="wrapper">
		<h1>Apache2 installed by Centostrano (deprec 2 port to CentOS)</h1>
		<h2>Commands</h2>
		<dl>
			<dt>cap centos:apache:start</dt><dd>Start apache</dd>
			<dt>cap centos:apache:stop</dt><dd>Stop apache</dd>
			<dt>cap centos:apache:restart</dt><dd>Stop restart</dd>
			<dt>cap centos:apache:reload</dt><dd>Reload apache</dd>
			
			<dt>cap centos:apache:install</dt><dd>Install apache</dd>
			<dt>cap centos:apache:config_gen</dt><dd>Generate apache configs</dd>
			
			<dt>cap centos:apache:activate</dt><dd>Start Apache when server boots</dd>
			<dt>cap centos:apache:deactivate</dt><dd>Don't start Apache when server boots</dd>
			
		</dl>
		
	</div>
</body>
</html>
